html {
  height: 100%;
}
body {
  height: 100%;
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

body > div {
    transition:all 0.3s ease;
}

nav {
  position:fixed;
  z-index: 2;
  width: 100%;
  background-color: #E53D00;
  height:42px;
  font-weight: 600;
  box-shadow: 0px 3px 4px #DCDCDC;
  line-height: inherit;
}

nav a {
    display: block;
    float: left;
    font-size: 12px;
    color: white;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-decoration: none;
    position:relative;
}

nav a::after {
  background-color: white;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

nav a:hover::after {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.down {
    position: relative;
    top:42px;
    height: calc(100% - 42px);
    max-width:960px;
    margin: 0 auto;
    clear: both;
    display: grid;
    grid-template-columns: 140px auto;
}

.balance {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;


    font-weight: normal;
    background-color: rgba(244,244,244,0.1);
}

.downmiddle {
    position: relative;
    top:82px;
    height: calc(100% - 42px);
    max-width:660px;
    margin: 0 auto;
    clear: both;
    display:block;
    padding:15px;
}

.midform {
    position: relative;
    top:42px;
    height: calc(100% - 42px);
    max-width:400px;
    margin: 0 auto;
    clear: both;
    line-height:0.6;
}

.sidebar {
    z-index: 1;
    padding:1.7em;
    font-size:12px;
    border: solid 0 1px 0 0 #DCDCDC;
    box-shadow: 2px 0px 4px -2px #DCDCDC;
}

.footer {
  display: block;
  z-index: 6;
  width: 100%;
  background-color: red;
  height:22px;
  color:white;
  font-weight: normal;
  color: ;
  background-color: #242729;
  font-size:13px;
  line-height: inherit;
}

.display {
    clear:both;
    margin:15px;
    display:grid;
    height:0px;
    grid-gap: 0.5em;
}

.pd-s {
    padding:12px;
}

.offer {
    display:grid;
    grid-template-columns: auto 220px 180px;
    position: relative;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 1px #DCDCDC;
    border-radius: 10px;
    vertical-align: middle;
}

.offerdetails {
    display:grid;
    grid-template-columns: auto 220px;
    position: relative;
    padding: 1em;
    border-bottom: solid 1px #DCDCDC;
    vertical-align: middle;
}
.offerdetailsfirst {
    display:grid;
    grid-template-columns: 75px auto;
    position: relative;
    padding: 1em;
    border-bottom: solid 1px #DCDCDC;
    vertical-align: middle;
}
.offerdetails2 {
    display:grid;
    grid-template-columns: auto;
    position: relative;
    padding: 1em;
    border-bottom: solid 1px #DCDCDC;
    vertical-align: middle;
}

.offer:hover{
  transition:all 0.3s ease;
  border: solid 1px #000;
}

.offerright {
  border-left: solid 1px #DCDCDC;
  padding-left: 16px;
  padding-right: 16px;
  font-size:12px;
}

.filter {
    margin-top:8px;
}

.vc {
    line-height:30px;
    vertical-align:middle;
}
.navright {
    float: right;
    font-size:14px;
    padding-top:11px;
    padding-bottom:12px;
  font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}
.ranks {
  display:flex;
  align-items: center;
  justify-content: center;
}
.mg-lr {
  margin-left:8px;
  margin-right:8px;
}
.navright::after {
    transition:none;
    height:0;
}
#logo::after {
    transition:none;
    height:0;
}

#logo {
  font-size: 30px;
  letter-spacing: -2px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: -14px;
  padding-bottom:2px;
}
.bubble{
  --width: 100%;
  --time: 0.7s;
  position: relative;
  overflow: hidden;
}

.bubble text {
    position: relative;
    z-index: 5;
    transition: color var(--time);
}

.bubble:hover text {
    color: #222;
}
.bubble span {
    border-radius: 100%;
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.bubble:hover span {
    width: calc(var(--width)*2.25);
    padding-top: calc(var(--width)* 2.25);
}

.bubble.FLASH:hover text {
    color: white;
}

.bubble.FLASH span {
    background: #ff3b3b;
}

.animated {
    --angle: 5deg;
    animation: shake 0.3s;
}

.btn1 {
  position:relative;
  margin-top:10px;
}